/*
==============================================
General Styling
==============================================
*/
html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
}
section h2 {
  margin-bottom: 70px;
}
section p {
  text-align: justify;
  font-weight: 300;
}

/* section themes */
#about, #pricing, #contact {
  background-color: #2a2929;
  color: #fff;
}

/* Preloader */
.preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/preloader.gif) center no-repeat #fff;
}


/*
==============================================
Hero image section
==============================================
*/
header {
  padding-top: 150px;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hero-img.jpg);
  color: #fff;
}
.bg_pattern {
    background-image: url(../img/bg_pattern.png);
    position: absolute;
    /*opacity: 0.8;*/
    top: 0px;
    bottom: 0px;
    width: 100%;
    /*z-index: 1;*/
}
.box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*z-index: 2;*/
}
#logo {
  width: 170px;
  visibility: hidden;
}
#title {
  font-size: 50px;
  letter-spacing: 8px;
  visibility: hidden;
}
#desc {
  margin-top: 30px;
  font-weight: 300;
  visibility: hidden;
}


/*
==============================================
About Section
==============================================
*/
#tutor {
  visibility: hidden;
}
#signature {
  width: 130px;
  margin-right: -63%;
  margin-top: 40px;
  -ms-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
}


/*
==============================================
Services section
==============================================
*/
.service-icon {
  width:150px;
  margin-bottom: 50px;
}


/*
==============================================
Pricing section
==============================================
*/
.price-box-front {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #3d3c3c;
  color: #fff;
  -webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.price-box-back {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 5px;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.price-box-back:hover .price-box-front {
  -webkit-transform: translateY(-80px);
	-moz-transform: translateY(-80px);
	-ms-transform: translateY(-80px);
	transform: translateY(-80px);
}
.doodle-1 {
  background-image: url(../img/doodle-1.png);
}
.doodle-2 {
  background-image: url(../img/doodle-2.png);
}
.doodle-3 {
  background-image: url(../img/doodle-3.png);
}
#pricing h4 {
  padding: 15px 0;
  font-weight: 300;
  letter-spacing: 3px;
  border-bottom: 1px #fff solid;
  margin-bottom: 30px
}
#pricing span {
  font-size: 40px
}


/*
==============================================
Testimonials
==============================================
*/
#testimonial-quote .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#testimonial-quote .carousel-control.left {
    left: -60px;
}
#testimonial-quote .carousel-control.right {
    right: -60px;
}
#testimonial-quote .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.4s;
    position: relative;
}
#testimonial-quote .carousel-indicators .active {
    opacity: 1;
}
#testimonial-quote .carousel-indicators .active:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
  position: absolute;
  bottom: -20px;
  left: 13px;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


/*
==============================================
Contact
==============================================
*/
#contact h4 {
  text-align: center;
  margin-bottom: 40px;
}
.form-control {
  background-color: #3d3c3c;
  color: #fff;
  border-radius: 1px;
}
#contact .btn {
  margin-top: 30px;
}


/*
==============================================
Discount Message Modal
==============================================
*/
body.modal-open .modal {
    display: flex !important;
    height: 100%;
}

body.modal-open .modal .modal-dialog {
    margin: auto;
}

.modal-body .hint {
  margin-top: 30px;
  font-style: italic;;
}

/*
==============================================
Animation
==============================================
*/

/* FadeIn animation */
.fade-in {
  /* make things invisible upon start */
  opacity:0;

  /* call our keyframe named fadeIn, use animattion ease-in for 1 second and remain on last keyframe(forwards)*/
  -webkit-animation: fadeIn 1s ease-in forwards;
  -moz-animation: fadeIn 1s ease-in forwards;
  -o-animation: fadeIn 1s ease-in forwards;
  animation: fadeIn 1s ease-in forwards;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


/* Spin animation */
.spin {
animation-name: spin;
-webkit-animation-name: spin;

animation-duration: 1.6s;
-webkit-duration: 1.6s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


/*
==============================================
Media Queries
==============================================
*/

@media only screen and (min-width: 508px) and (max-width: 991px) {
  #testimonial-quote .carousel-indicators {
    bottom: -20px;
  }
}

@media only screen and (min-width: 977px) and (max-width: 1157px) {
    #title {
      font-size: 40px;
    }
}

@media screen and (min-width: 501px) {
  #tutor {
        width: 360px;
  }
}

@media only screen and (min-width : 768px) {
  #services p {
    padding: 0 15px;
  }
}

@media screen and (max-width: 320px) {
  header .box {
    padding-top: 80px;
  }
  #title {
    font-size: 40px;
  }
}
@media screen and (max-width: 507px) {
  #testimonial-quote .carousel-indicators {
    bottom: -60px;
  }
}

@media only screen and (max-width : 609px) {
  #testimonial-quote .carousel-control {
    visibility: hidden;
  }
}

@media screen and (max-width: 700px) {
  section {
    padding: 100px 15px;
  }
}

@media only screen and (max-width : 767px) {
  #pricing .price-box-back {
    margin-bottom: 100px;
  }
  #pricing .price-list div:last-child .price-box-back {
    margin-bottom:0;
  }
}

@media only screen and (max-width : 991px) {
  #services p {
    margin-bottom: 100px;
  }
  #services .service-list div:last-child p {
    margin-bottom:0;
  }
  #about .container .row {
    text-align: center;
  }
}
