html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
header {
  padding-top: 150px;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hero-img.jpg);
  color: #fff;

}
.logo {
  width: 90px;
}
